<div class="main"><br><br><br>
	<h1>Todo List</h1>
	<div class="input">
		<input #message type="text" placeholder="Enter your todo">
		<button class="submit" (click)="onSubmit(message.value)">Submit</button>
	</div>
	<div *ngIf="list.length" class="list">
		<h3>Your Todo List</h3>
		<div *ngFor="let obj of list; index as i" class="record">
			<input type="checkbox" [checked]="obj.checked" (click)="onChecked(i)">&#160;&#160;
			<label >  {{obj.message}}</label>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
			<button class="delete" (click)="onDelete(i)">X</button>
		</div>
	</div>
</div>